html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.parent {
  height: 100%;
  background: linear-gradient(
    to bottom,
    red 60%,
    red 60%,
    black 60%,
    black 70%,
    white 70%
  );
  overflow: hidden;
  display: grid;
  display: grid;
  grid-template-columns: 7% 11% 19% 9% 5% 2% 15% 2% 8% 22%;
  grid-template-rows: repeat(2, 10%) 5% 3% 19% 12% 3% 6% 2% 12% 4% 14%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

h1 {
  color: #000;
  font-size: 128px;
  font-family: Mountains of Christmas;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: auto;
  text-align: center;
  flex-grow: 1;
}

h2 {
  color: #000;
  font-size: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
}

h3 {
  color: #000;
  font-size: 64px;
  font-family: Goldman;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  object-fit: contain;
  flex-grow: 1;
}

.r {
  color: red;
}
.element1 {
  grid-area: 2 / 2 / 3 / 5;
  display: flex;
  justify-content: center;
  align-items: end;
}
.element2 {
  grid-area: 3 / 4 / 9 / 10;
  display: flex;
  justify-content: center;
  align-items: end;
}
.element3 {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  justify-content: center;
  align-items: end;
}
.element4 {
  grid-area: 6 / 3 / 9 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element4 img {
  min-width: 0;
  overflow: hidden;
}
.element5 {
  grid-area: 9 / 1 / 13 / 4;
}
.element6 {
  grid-area: 10 / 9 / 12 / 10;
}
.element7 {
  grid-area: 10 / 7 / 11 / 8;
}
.element8 {
  grid-area: 11 / 7 / 12 / 8;
}
