html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.parent {
  height: 100%;
  background: linear-gradient(
    to bottom,
    white 60%,
    white 60%,
    red 60%,
    red 70%,
    black 70%
  );
  overflow: hidden;
  display: grid;
  grid-template-columns: 4% 3% 12% 4% 16% 13% 7% 18% 3% repeat(2, 8%) 4%;
  grid-template-rows: 5% 6% 4% 20% 10% 15% 7% 3% repeat(2, 6%) 8% 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  object-fit: contain;
  flex-grow: 1;
}
.div1 {
  grid-area: 1 / 5 / 6 / 8;
  display: flex;
  justify-content: top;
  align-items: top;
}
.div2 {
  grid-area: 4 / 7 / 8 / 11;
  display: flex;
  justify-content: center;
  align-items: end;
}
.div2 img:last-child {
  display: none;
}
.div2:hover img:last-child {
  display: block;
}
.div2:hover img:first-child {
  display: none;
}
.div3 {
  grid-area: 5 / 4 / 9 / 6;
  display: flex;
  justify-content: center;
  align-items: end;
}
.div3 img:last-child {
  display: none;
}
.div3:hover img:last-child {
  display: block;
  right: 300px;
}
.div3:hover img:first-child {
  display: none;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: end;
}

.item4 {
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  font-family: Gorditas;
  font-weight: 400;
  font-size: 1rem;
}
.div5 {
  grid-area: 2 / 10 / 3 / 12;
  display: flex;
  justify-content: center;
  align-items: end;
}
.item5 {
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  font-family: Mountains of Christmas;
  font-weight: 400;
  font-size: 3rem;
}
.div6 {
  grid-area: 3 / 10 / 4 / 12;
  display: flex;
  justify-content: center;
  align-items: end;
}
.item6 {
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
}
.div7 {
  grid-area: 11 / 4 / 12 / 9;
  display: flex;
  justify-content: center;
  align-items: end;
}
.item7 {
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
}
